<main>
    <div class="container marketing mt-5">
        <%- include('sections/2') %>
            <hr class="featurette-divider">
            <%- include('sections/3') %>
                <hr class="featurette-divider">
                <%- include('sections/4') %>
    </div>
</main>