<div class=""></div>
<div class="header">
    <div style="    display: flex;
            place-items: center;
            height: 100%;
            background-color: #145855cd;
        ">
        <div class="container col-xxl-8 px-4 ">
            <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
                <div class="col-10 col-sm-8 col-lg-6 scale-up-hor-right">
                    <img class="header-img" src="../assets/imgs/funny-3d-illustration-american-referee.jpg" style="border-radius: 15px;" class=" d-block mx-lg-auto img-fluid" alt="Bootstrap Themes" width="700" height="500" loading="lazy">
                </div>
                <div class="col-lg-6 scale-up-hor-left">
                    <h1 class="display-5 fw-bold mb-3">Do you enjoy reading but are unable to visit a real library?</h1>
                    <p class="lead"> Karanta is an elibraries make it simple for you to borrow expensive and hard-to-find books from all over the world and have them sent back to your door at the lowest possible cost.</p>
                    <div class=" justify-content-md-start">
                        <div class="header-form">
                            <form action="/shelfs" method="get">
                                <input type="text" name="search" id="">
                                <button type="submit">Search <i class="fa-solid fa-magnifying-glass"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>