<div class="row featurette">
    <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading fw-normal lh-1">Enjoy any book of your choice. <span class="text-muted"><a href="/shelf" style="color:#165956;">See for yourself.</a></span></h2>
        <p class="lead">E-Library
            <a href="/shelf" style="color:#165956;">Shelf </a>contains records for millions of books (as well as other materials) located in the libraries of universities all over the world and Affiliated Institutions that are available to borrow.</p>
    </div>
    <div class="col-md-5 order-md-1">
        <img src="../../../assets/imgs/4418998.jpg" width="500" height="500" class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" alt="">
    </div>
</div>